* {
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif;
	background-image: url('work-desk.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

.hidden {
	display: none;
}

#section-content {
	position: absolute;
	width: 100%;
	top: 85px;
	left: 10px;
}

.home, .about, .contact {
	margin-left: 22%;
}

.home, .about {
	margin-top: 127px;
}

.contact {
	margin-top: 100px;
}

hr {
	margin-left: 10px;
	width: 70%;
}

.home h4, .home p, .about h4, .about p, 
#portfolio-box>h3, .filter-title, 
#project-container>p, .contact h4, .contact p {
	color: white;
	margin: 5px;
}

.home h4, .about h4, #portfolio-box>h3, .contact h4 {
	font-weight: bolder;
	font-family: 'Merriweather', sans-serif;
}

.home h4 {
	font-size: 48px;
}

.about h4, #portfolio-box>h3, .contact h4 {
	font-size: 35px;
}

.home p, .about p, .contact p {
	font-size: 19px;
	max-width: 600px;
}

#nav {
	position: fixed;
	right: 10%;
	top: 17px;
	z-index: 1;
}

.contact-links {
	margin-top: 25px;
	width: 80%;
}

div.nav-link, .project-item, .skill, .contact-link {
	display: inline-block;
}

div.nav-link, .contact-link {
	border-radius: 4px;
	color: black;
	height: 30px;
	text-decoration: none;
	padding: 6px 18px;
}

.contact-link {
	background: #CDCDC1;
	color: black;
	margin: 5px;
}

.contact-link:hover {
	background: darkgrey;
}

div.nav-link {
	background-color: #B3EE3A;
	margin: 1px 1px;
}

div.nav-link, .contact-link {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.74);
}

div.nav-link:hover, #project-close:hover {
	color: white;
	background-color: #C0FF3E;
	cursor: pointer;
}

#project-close {
	border: 1px solid lightgrey;
	clear: right;
	color: lightgrey;
	display: block;
	font-size: 20px;
	margin: 0 -15px 0 0;
	padding: 2px;
	position: relative;
	float: right;
	text-align: center;
	width: 36px;
}

#results {
	width: 100%;
}

div.project-item {
	background-color: white;
	filter: gray;
	filter: grayscale(100%);
	width: 107%;
	margin: 5px 0 15px -10px;
	padding: 15px 20px;
	text-align: left;
}

hr.desc-bar {
	margin: 20px;
	width: 40%;
}

p.project-description, p.project-description p {
	display: block;
	margin: 5px;

}

.img-box {
	background-color: white;
	float: left;
	max-width: 370px;
	margin-right: 15px;
	margin-bottom: 15px;
	height: 100%;
	overflow: hidden;
}

.project-image {
	display: block;
	margin: auto;
	min-width: 400px;
}

.proj-img-box {
	height: 250px;
	width: 200px;
	float: right;
	margin-bottom: 20px;
	overflow: hidden;
}

.skill {
	border-radius: 3px;
	font-size: 14px;
	padding: 5px 13px;
	margin: 1px 2px;
	color: black;
	background-color: #B3EE3A;
}

div.project-item:hover {
	filter: none;
}

h3, #project-container {
	text-align: center;
}

#portfolio-box {
	width: 94%;
	padding-top: 20px;
	margin-top: 20px;
}

#project-container>p {
	text-align: center;
	margin: 15px;
}

.project-name {
	color: #B3EE3A;
	font-family: 'Merriweather', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin: 3px;
}

.links {
	display: inline-block;
	margin: 4px 0px;
}

.proj-livelink:hover, .proj-codelink:hover {
	font-weight: bold;
}

.skill-box {
	color: #404040;
	font-style: italic;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	white-space: normal;
}

#skills-selector {
	font-size: 14px;
	margin-bottom: 7px;
}

a {
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}

p.powered {
	bottom: 15px;
	color: darkgrey;
	font-size: 16px;
	margin: 0;
	position: fixed;
	left: 20px;
}

p.powered a {
	color: lightgrey;
	font-style: italic;
	text-decoration: none;
}

p.powered a:hover {
	color: #EE1289;
}


@media only screen and (min-width: 500px) and (max-width: 753px) {

	#nav {
		right: 1%;
	}

	.contact-links {
		margin: 25px auto;
	}

	.home, .about, .contact {
		background: rgba(0,0,0,0.60);
		text-align: center;
		margin: auto;
		padding: 20px;
		width: 80%;
	}

	hr {
		margin: auto;
		width: 80%;
	}

	#single-project {
		left: 9%;
		padding: 10px 20px 10px 15px;
		width: 80%;
	}

	.img-box {
		display: block;
		float: none;
		width: 99%;
		max-height: 280px;
		margin: 5px auto;
	}

	.project-name {
		text-align: center;
	}

	hr.desc-bar {
		width: 80%;
	}

	div.project-item {
		width: 97%;
		display: inline-block;
		margin: 7px;
	}

}

@media only screen and (max-width: 500px) {

	#nav {
		margin-top: 15px;
		position: static;
		text-align: center;
	}

	.contact-links {
		margin: 25px auto;
	}

	.home, .about, .contact {
		background: rgba(0,0,0,0.60);
		text-align: center;
		margin: auto;
		padding: 20px;
		width: 80%;
	}

	hr {
		margin: auto;
	}

	#single-project {
		left: 4%;
		padding: 10px 20px 10px 15px;
		width: 90%;
	}

	.img-box {
		display: block;
		float: none;
		width: 99%;
		max-height: 280px;
		margin: 5px auto;
	}

	hr.desc-bar {
		width: 80%;
	}

	div.project-item {
		display: inline-block;
		margin: 7px;
		width: 95%;
	}

}