doctype html
html(lang='en')
    head
        title Paige - Admin Dashboard
        meta(charset='utf-8') 
        include style
    body
        section(class='account-header')
            img(class='admin-logo', src='/public/img/Paige-sm.png')
            h4 Welcome! 
            p(class='logout')
                a(class='logout', href='/logout') Log out
            p(class='user-name') 
                if user.local.name 
                    | #{user.local.name}
                    br
                    | #{user.local.email}
        div(id='container')
        include scripts
        include components
        include admin-routes