doctype html
html(lang='en')
    head
        title Index Page
        meta(charset='utf-8')
        include style
    
    body
        section.index
            h3 This is a Content Management Site
            p Log in and start creating your page
            p Already have an account? 
                a(class='login', href='/login') Log in here
            p Create your account. 
                a(class='signup', href='/signup') Sign up here
            
        include scripts