doctype html
html(lang='en')
    head
        title Index Page
        meta(charset='utf-8')
        include style
    
    body
        section.index
            img(class='logo', src='/public/img/Paige.png')
            h4(class='paige front') Paige
            p Create and manage your own portfolio site!
            a(class='signup', href='/signup') Sign Up
            br
            a(class='login', href='/login') Log In
            
        include scripts