doctype html
html(lang='en')
    head
        title Paige - Installation Complete
        meta(charset='utf-8')
        include style
    body
        section.index
            h4(class='paige') Paige
            h4 Installation Complete
            section
                p(class='login-instructions') Please login using the credentials below. Make sure to change your password and email upon login to secure the account.
                p(class='login-username') username: admin@email.com
                p(class='login-password') password: admin
                p
                    a(class='login', href='/login') Log In
        include scripts