doctype html
html(lang='en')
    head
        title Login Page
        meta(charset='utf-8')
        include style
    body
        section.index
            h4 Login to your account
            if message && message.length
                p
                    strong #{message}
            form(id='login-form', method='post', action='/login')
                div(class='form-group')
                    label(for='email') Email: 
                    input(type='email', id='email', name='email')
                div(class='form-group')
                    label(for='password') Password: 
                    input(type='password', id='password', name='password')
                div(class='form-group')
                    input(type='submit', class='submit login', value='Login')
            div(class='other-login')
                p Log in with
                a(href='/auth/facebook', class='other-login-button') Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i>
                a(href='/auth/google', class='other-login-button') Google <i class="fa fa-google" aria-hidden="true"></i>
                a(href='/auth/github', class='other-login-button') GitHub <i class="fa fa-github" aria-hidden="true"></i>
                a(href='/auth/linkedin', class='other-login-button') LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            p Need an account? 
                a(class='signup', href='/signup') Sign Up
            p Or return to the 
                a(class='home', href='/') Home Page
        include scripts