doctype html
html(lang='en')
    head
        title Paige - 404
        meta(charset='utf-8')
        include style
    body
        section.index
            img(class='logo', src='/public/img/Paige.png')
            h4(class='paige front') Paige
            p Oops! I couldn't find your page. 
            p Return to 
                a(class='home', href='/') Home 
