.scripts
script(src='https://code.jquery.com/jquery.min.js')
script(type='text/javascript', src='/public/main.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.17.0/babel.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/react-router/4.0.0-0/react-router.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js')
