doctype html
html(lang='en')
    head
        title Signup Page
        meta(charset='utf-8')
        include style
    body
        section.index
            h4 Create your account
            if message && message.length
                p
                    strong #{message}
            section
                form(id='form', action='/signup', method='post')
                    div(class='form-group')
                        label(for='name') Name: 
                        input(type='text', id='name', name='name', placeholder='Bruce Banner')
                    div(class='form-group')
                        label(for='email') Email: 
                        input(type='email', id='email', name='email', placeholder='webdev@forhire.com')
                    div(class='form-group')
                        label(for='password') Password: 
                        input(type='password', id='password', name='password')
                        input(type='password', class='password2', placeholder='Confirm your password')
                    div(class='form-group')
                        input(type='submit', class='submit signup', value='Submit')
                p Have an account? 
                    a(class='login', href='/login') Login Here
            div(class='other-login')
                p Log in or Register with
                a(href='/auth/facebook', class='other-login-button') Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i>
                a(href='/auth/google', class='other-login-button') Google <i class="fa fa-google" aria-hidden="true"></i>
                a(href='/auth/github', class='other-login-button') GitHub <i class="fa fa-github" aria-hidden="true"></i>
                a(href='/auth/linkedin', class='other-login-button') LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        include scripts