doctype html
html(lang='en')
    head
        title Paige - Sign Up
        meta(charset='utf-8')
        include style
    body
        section.index
            h4(class='paige') Paige
            h4 Create your account
            if message && message.length
                p
                    strong #{message}
            section
                form(id='form', action='/signup', method='post')
                    div(class='form-group')
                        label(for='name') Name: 
                        input(type='text', id='name', name='name', placeholder='Bruce Banner')
                    div(class='form-group')
                        label(for='email') Email: 
                        input(type='email', id='email', name='email', placeholder='webdev@forhire.com')
                    div(class='form-group')
                        label(for='password') Password: 
                        input(type='password', id='password', name='password')
                        input(type='password', class='password2', placeholder='Confirm your password')
                    div(class='form-group')
                        input(type='submit', class='submit signup', value='Submit')
                p Already have an account? 
                    a(class='login', href='/login') Log In
            include other-login
        include scripts