.style
link(rel='stylesheet', type='text/css', href='/public/style.css')
link(href='https://fonts.googleapis.com/css?family=Abril+Fatface', rel='stylesheet')
script(src='https://use.fontawesome.com/06476ec048.js')
script(src='//cdn.ckeditor.com/4.5.11/standard/ckeditor.js')