.styles
link(rel='stylesheet', type='text/css', href='/public/vintage/vintage-style.css')
link(href='https://fonts.googleapis.com/css?family=Merriweather|Ubuntu:400,700' rel='stylesheet')
script(src='https://use.fontawesome.com/06476ec048.js')


//- Add styles and font libraries below