doctype html
html(lang='en')
    head
        title Home Page
        meta(charset='utf-8')
        link(rel='stylesheet', type='text/css', href='/public/food/food-style.css')
        link(href='https://fonts.googleapis.com/css?family=Merriweather|Ubuntu:400,700' rel='stylesheet')
    body
        include nav-bar
        section(id='section-content')
            block content
                div(class='home')
                    h4 #{title}
                    hr
                    p !{content}
        script(src='https://code.jquery.com/jquery.min.js')
        script(type='text/javascript', src='/public/food/food-app.js')

