* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: Arial, sans-serif;
}

section, .page, .project, .user {
	border: 1px solid lightgrey;
}

.other-login-button, .account-header, .account-header>p, 
.account-header>h4, #left-menu, #right-view, .page, .project,
.user, .skillbox, .skill-text, .skill-delete, label {
	display: inline-block;
}

.hidden {
	display: none;
}

.index {
	width: 60%;
	max-width: 550px;
	margin: auto;
	margin-top: 5%;
	padding: 20px;
	text-align: center;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.4);
}

.index>section {
	border: 0px;
}

#form, #login-form {
	padding: 0px 10px;
	text-align: left;
}

.form-group input, .form-group input {
 	width: 67%;
 }

 .form-group {
 	margin: 4px 9px;
 }

.other-login-button {
	color: black;
	height: 30px;
	padding: 5px;
	margin: 0px 4px;
	text-align: center;
	text-decoration: none;
}

.password2 {
	margin-left: 109px;
	margin-top: 3px;
}

input.submit.login, input.submit.signup {
	-webkit-appearance: none;
	background-color: #FF1493;
	border: 0px;
	border-radius: 5px;
	color: white;
	display: block;
	width: 120px;
	height: 30px;
	font-size: 15px;
	margin: 8px auto;
	padding: 2px 0px;
}

input.submit.login:hover, input.submit.signup:hover {
	cursor: pointer;
	background-color: #8B0A50;

}

.account-header {
	height: 55px;
	width: 99%; 
	padding: 7px 35px;
	margin-right: 15px;
	background-color: #DCDCDC;
}

ul {
	list-style: none;
	padding-left: 7px;
}

li {
	color: white;
	width: 77%;
	margin: 6px 0px;
	padding: 7px;
}

li, button {
	border: 0px;
	border-radius: 3px;
	background-color: #FF1493;
}

.admin-menu-link {
	text-decoration: none;
}

#container, #container>div:first-child {
	height: 100%;
}

.account-header>h4, .account-header>p {
	margin: 0px;
}

.page>h4, .project>h4, .user>h4{
	margin: 2px;
}

#right-view h3 {
	margin-top: 7px;
	margin-bottom: 15px;
}

.admin-home-box, .pages-view, .projects-view, .skills-view, .users-view {
	text-align: center;
}

.admin-home-text, .createpage-view, .createproject-view, .createuser-view, .project, .page, .user {
	text-align: left;
}

.account-header>h4 {
	width: 75%;
}

.account-header>p {
	width: 35%;
}

p.logout>a, a.login, a.signup, a.home {
	color: black;
}

p.logout>a:hover, a.login:hover, a.signup:hover, a.home:hover, .other-login-button:hover {
	color: #FF1493;
}

p.user-name {
	text-align: right;
	float: right;
	margin-top: -15px;
}

#left-menu, #right-view {
	min-height: 300px;
	height: inherit;
}

#left-menu {
	min-width: 105px;  
	width: 10%;
	vertical-align: top;
}

#right-view {
	width: 78%;
	padding: 5px;
}

.form-section {
	margin: 4px 0px;
}

label {
	width: 109px;
	vertical-align: top;
	margin-top: 5px;
}

.skill-form-section>label {
	width: 0px;
	padding: 2px;
}

textarea, input {
	width: 275px;
}

input {
	height: 30px;
	padding: 2px 5px;
	font-size: 15px;
}

button {
	color: white;
	font-size: 13px;
	height: 29px;
	margin: 1px 3px;
	padding: 3px 9px;
	vertical-align: top;

}

li:hover, button:hover {
	background-color: #8B0A50;

}

.page, .project, .user {
	width: 47%;
	vertical-align: top;
	padding: 15px;
	margin: 4px 6px;
}


.page:hover, .project:hover, .user:hover {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.74);
}

.page-buttons, .project-buttons, .user-buttons {
	margin-top: 8px;
}

.page>p, .project>p, .user>p {
	font-size: 15px;
	margin: 1px 4px;
}

.text-label {
	font-weight: bold;
}

.grey-out {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.box {
	background: white;
	border-radius: 6px;
	position: fixed;
	width: 60%;
	top: 15%;
	left: 20%;
	padding: 35px;
	z-index: 999;
}

.box button {
	margin-top: 15px;
}

select {
	display: block;
	font-size: 15px;
	margin: 12px auto;
}

.skillbox {
	background-color: #838B8B;
	border-radius: 4px;
	font-size: 14px;
	color: white;
	padding: 4px 10px;
	margin: 3px;
}

#skill-area {
	min-height: 28px;
}

.skillsList {
	padding: 0px 20px;
}

.skill-text:hover {
	cursor: default;
}

.skillsList>.skillbox:hover, #skill-area>.skillbox:hover {
	background-color: #333333;
}

.skill-delete {
	margin-left: 5px;
}

button:hover, .skill-delete:hover {
	cursor: pointer;
}


@media only screen and (max-width: 674px) {
    
    #left-menu {
        width: 100%;
        min-height: 55px
    }

    li {
    	display: inline-block;
    	text-align: center;
    	font-size: 13px;
    	width: 13%;
    	margin: 0px 5px;
    }

    #right-view {
    	width: 100%;
    }

    .page, .project, .user, .box {
    	width: 90%;
    }

    .box {
    	left: 3%;
    }

    .form-section {
    	width: 100%;
    }

    input, textarea {
    	width: 80%;
    }
}