* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	font-family: Arial, sans-serif;
}

section, .page, .project {
	border: 1px solid lightgrey;
}

.other-login-button, .account-header, .account-header>p, 
.account-header>h4, #left-menu, #right-view, .page, .project,
.skillbox, .skill-text, .skill-delete, label {
	display: inline-block;
}

.hidden {
	display: none;
}

.other-login-button {
	border: 1px solid lightgrey;
	height: 30px;
	width: 77px;
	padding: 5px;
	text-align: center;
	margin: 0px 4px;
}

.account-header {
	height: 55px;
	width: 95%;
	padding: 7px 15px;
}

ul {
	list-style: none;
	padding-left: 13px;
}

li {
	color: black;
	width: 75%;
	margin: 6px 0px;
	padding: 7px 10px;
}

li, button {
	border: 0px;
	border-radius: 3px;
	background-color: #FF1493;
}

.admin-menu-link {
	text-decoration: none;
}

#container, #container>div:first-child {
	height: 100%;
}

.account-header>h4, .account-header>p {
	margin: 0px;
}

.page>h4, .project>h4 {
	margin: 2px;
}

#right-view h3 {
	margin-top: 7px;
	margin-bottom: 15px;
}

.admin-home-box, .pages-view, .projects-view, .skills-view {
	text-align: center;
}

.admin-home-text, .createpage-view, .createproject-view, .project, .page {
	text-align: left;
}

.account-header>h4 {
	width: 75%;
}

.account-header>p {
	width: 35%;
}

p.logout>a {
	text-decoration: none;
}

p.logout>a:hover {
	color: #FF1493;
}

p.user-name {
	text-align: right;
	float: right;
	margin-top: -15px;
}

#left-menu, #right-view {
	min-height: 300px;
	height: inherit;
}

#left-menu {
	min-width: 115px;  
	width: 10%;
	vertical-align: top;
}

#right-view {
	min-width: 300px;
	width: 78%;
	padding: 5px;
}

.form-section {
	margin: 4px 0px;
}

label {
	width: 109px;
	vertical-align: top;
	margin-top: 5px;
}

.skill-form-section>label {
	width: 0px;
	padding: 2px;
}

textarea, input {
	width: 225px;
}

input {
	height: 30px;
	padding: 2px 5px;
	font-size: 15px;
}

button {
	font-size: 13px;
	height: 29px;
	vertical-align: top;
	margin: 1px 3px;
	padding: 3px 9px;
}

li:hover, button:hover {
	background-color: #8B0A50;
	color: white;

}

.page, .project {
	width: 47%;
	vertical-align: top;
	padding: 5px;
	margin: 4px 6px;
}

.page:hover, .project:hover {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.74);
}

.page>p, .project>p {
	margin: 1px 4px;
}

.grey-out {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.box {
	background: white;
	border-radius: 6px;
	position: fixed;
	width: 60%;
	top: 15%;
	left: 20%;
	padding: 15px;
	z-index: 999;
}

select {
	display: block;
	font-size: 15px;
	margin: 12px auto;
}

.skillbox {
	background-color: #838B8B;
	border-radius: 4px;
	font-size: 13px;
	color: white;
	padding: 4px 9px;
	margin: 3px;
}

#skill-area {
	min-height: 28px;
}

.skillsList {
	padding: 0px 20px;
}

.skillsList>.skillbox:hover, #skill-area>.skillbox:hover {
	background-color: #333333;
}

.skill-delete {
	margin-left: 5px;
}

button:hover, .skill-delete:hover {
	cursor: pointer;
}


@media only screen and (max-width: 584px) {
    
    #left-menu {
        width: 100%;
        min-height: 55px
    }

    li {
    	display: inline-block;
    	text-align: center;
    	font-size: 13px;
    	width: 13%;
    	margin: 0px 5px;
    }

    #right-view {
    	width: 100%;
    }

    .page, .project {
    	width: 90%;
    }
}