* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Lucida Console", serif;
}

section, #left-menu, #right-view, .page, .project {
	border: 1px solid lightgrey;
}

.other-login-button, .account-header, .account-header>p, 
.account-header>h4, #left-menu, #right-view, .page, .project,
.skillbox, .skill-text, .skill-delete {
	display: inline-block;
}

.hidden {
	display: none;
}

.other-login-button {
	border: 1px solid lightgrey;
	height: 30px;
	width: 77px;
	padding: 5px;
	text-align: center;
	margin: 0px 4px;
}

.account-header {
	height: 55px;
	width: 96%;
	padding: 5px 10px;
}

#container, #container>div:first-child {
	height: 100%;
}

.account-header>h4, .account-header>p {
	margin: 0px;
}

.page>h5, .project>h5 {
	margin: 2px;
}

#right-view h3 {
	margin-top: 7px;
	margin-bottom: 15px;
}

.account-header>h4 {
	width: 75%;
}

.account-header>p {
	width: 35%;
}

p.user-name {
	text-align: right;
	float: right;
	margin-top: -15px;
}

#left-menu, #right-view {
	min-height: 300px;
	height: inherit;
}

#left-menu {
	width: 16%;
	vertical-align: top;
}

#right-view {
	width: 80%;
	padding: 10px;
}

.page, .project {
	width: 43%;
	vertical-align: top;
	padding: 5px;
	margin: 1px 6px;
}

.page>p, .project>p {
	margin: 1px 4px;
}

.grey-out {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.box {
	position: fixed;
	width: 60%;
	top: 15%;
	left: 20%;
	background: white;
	padding: 15px;
	z-index: 999;
}

.skillbox {
	padding: 3px 6px;
	margin-left: 3px;
	border: 1px solid lightgrey;
}

#skill-area {
	min-height: 28px;
}

.skill-delete {
	margin-left: 5px;
}

datalist { 
    display: none;
}
