* {
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Abhaya Libre', serif;
	background-image: url('creative1.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

.hidden {
	display: none;
}

#section-content {
	position: absolute;
	width: 100%;
	top: 85px;
	left: 10px;
}

.home, .about, .contact {
	margin-left: 4%;
	margin-top: 180px;
	width: 80%;
}

hr {
	margin-left: 10px;
	width: 75%;
}

.home h4, .home p, .about h4, .about p, #portfolio-box>h3, 
.filter-title, #project-container>p, .contact h4, .contact p {
	color: white;
	margin: 5px;
}

.home h4, .about h4, #portfolio-box>h3, .contact h4 {
	font-family: 'Gloria Hallelujah', cursive;
}

.home h4 {
	font-size: 60px;
}

.about h4, #portfolio-box>h3, .contact h4 {
	font-size: 40px;
}

.home p, .about p, .contact p {
	font-size: 25px;
	max-width: 600px;
}

#nav {
	position: fixed;
	right: 10%;
	top: 17px;
	z-index: 1;
}

.contact-links {
	margin-top: 25px;
	width: 80%;
}

div.nav-link, .project-item, .skill, .contact-link {
	display: inline-block;
}

div.nav-link, button#project-close, .contact-link {
	border-radius: 4px;
	color: black;
	height: 32px;
	padding: 6px 20px;
	text-decoration: none;
}

.contact-link {
	background: #CDCDC1;
	color: black;
	margin: 5px;
}

.contact-link:hover {
	background: #F4A460;
}

div.nav-link, button#project-close {
	background-color: #54FF9F;
	margin: 1px 1px;
}

div.nav-link, .contact-link {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.74);
}

button#project-close {
	display: block;
	margin: auto;
	margin-top: 23px;
	border: 0px;
	font-size: 1em;
}

div.nav-link:hover, button#project-close:hover {
	color: white;
	background-color: #2E8B57;
	cursor: pointer;
}

div.project-item {
	background-color: white;
	max-width: 340px;
	width: 99%;
	max-height: 300px;
	min-height: 300px;
	height: 99%;
	margin: 3px 6px;
	padding: 11px 15px;
	text-align: left;
	vertical-align: top;
}

div.project-item p, #single-project p {
	margin: 5px;
	color: black;
}

.img-box {
	max-height: 250px;
	min-height: 250px;
	height: 100%;
	overflow: hidden;
}

.project-image {
	display: block;
	margin: auto;
}

#proj-img {
	width: 100px;
	float: right;
}

.skill {
	border-radius: 3px;
	padding: 3px 10px;
	margin: 1px 2px;
	color: black;
	background-color: #54FF9F;
}

div.project-item:hover {
	background-color: #F4A460;
	cursor: pointer;
	opacity: .95;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.74);
}

#single-project {
	background-color: white;
	position: fixed;
	top: 95px;
	left: 11%;
	width: 77%;
	overflow-y: scroll;
	padding: 15px 20px;
	-webkit-box-shadow: 4px 4px 25px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    4px 4px 25px 0px rgba(50, 50, 50, 1);
	box-shadow:         4px 4px 25px 0px rgba(50, 50, 50, 1);
}

.grey-out {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

h3, #project-container {
	text-align: center;
}

#portfolio-box {
	width: 94%;
	margin: auto;
	padding-top: 20px;
	margin-top: -20px;
}

#project-container>p {
	font-size: 23px;
	text-align: center;
	margin: 15px;
}

#proj-skill-box {
	margin: 10px 0;
}

.project-name {
	text-align: center;
	font-size: 18px;
}

#proj-desc>div {
	display: inline-block;
	margin: 4px 9px;
	width: 79%;
}

#proj-livelink:hover, #proj-codeurl:hover {
	font-weight: bold;
}

.skill-box {
	width: 70%;
	margin: 25px 0;
}

#skills-selector {
	font-size: 14px;
	margin-bottom: 7px;
}

a {
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}

/*
@media only screen and (min-width: 550px) and (max-width: 765px) {

	#nav {
		right: 1%;
	}

	.contact-links {
		margin: 25px auto;
	}

	.home, .about, .contact {
		background: rgba(0,0,0,0.60);
		text-align: center;
		margin: auto;
		padding: 20px;
		width: 80%;
	}

	hr {
		margin: auto;
		width: 80%;
	}

	#single-project {
		left: 13%;
		width: 70%;
	}

	#project-container {
		padding-left: 4%;
	}

	div.project-item {
		width: 45%;
		display: inline-block;
		margin: 7px;
	}

} */

@media only screen and (max-width: 550px) {

	#nav {
		right: 1%;
	}

	.home h4, .about h4, .contact h4 {
		display: inline-block;
		line-height: 1;
		margin-bottom: 20px;
	}

	.contact-links {
		margin: 25px auto;
	}

	.home, .about, .contact {
		background: rgba(0,0,0,0.50);
		text-align: center;
		margin: auto;
		padding: 20px;
		width: 80%;
	}

	hr {
		margin: auto;
	}

	#single-project {
		left: 1%;
		width: 90%;
	}

	div.project-item {
		display: inline-block;
		max-width: 550px;
		width: 95%;
	}

}