* {
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif;
	background-image: url('food3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

.hidden {
	display: none;
}

#section-content {
	position: absolute;
	width: 100%;
	top: 85px;
	left: 10px;
}

.home, .about, .contact {
	margin-left: 21%;
	width: 70%;
}

.home, .about {
	margin-top: 127px;
}

.contact {
	margin-top: 100px;
}

hr {
	margin-left: 10px;
	width: 70%;
}

.home h4, .home p, .about h4, .about p, 
.filter-title, #portfolio-box>h3, 
#project-container>p, .contact h4, .contact p {
	color: white;
	margin: 5px;
}

.home h4, .about h4, #portfolio-box>h3, .contact h4 {
	font-weight: bolder;
	font-family: 'Merriweather', sans-serif;
}

.home h4 {
	font-size: 48px;
}

.about h4, #portfolio-box>h3, .contact h4 {
	font-size: 35px;
}

.home p, .about p, .contact p {
	font-size: 19px;
	max-width: 600px;
}

#nav {
	position: fixed;
	right: 10%;
	top: 17px;
	z-index: 1;
}

.contact-links {
	margin-top: 25px;
	width: 80%;
}

div.nav-link, .project-item, .skill, .contact-link {
	display: inline-block;
}

div.nav-link, .contact-link {
	border-radius: 4px;
	color: black;
	height: 30px;
	padding: 6px 15px;
	text-decoration: none;
}

.contact-link {
	background: #CDCDC1;
	color: black;
	margin: 5px;
}

.contact-link:hover {
	background: darkgrey;
}

div.nav-link {
	background-color: #7FFFD4;
	margin: 1px 1px;
}

div.nav-link, .contact-link {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.74);
}

div.nav-link:hover, #project-close:hover {
	color: white;
	background-color: #458B74;
	cursor: pointer;
}

#project-close {
	border: 1px solid lightgrey;
	clear: right;
	color: lightgrey;
	display: block;
	font-size: 20px;
	margin: 0 -15px 0 0;
	padding: 2px;
	position: relative;
	float: right;
	text-align: center;
	width: 36px;
}

div.project-item {
	background: rgba(255,255,255,0.95);
	filter: gray;
	filter: grayscale(100%);
	max-width: 340px;
	width: 99%;
	max-height: 320px;
	min-height: 320px;
	height: 99%;
	margin: 7px;
	padding: 15px 20px;
	text-align: left;
	vertical-align: top;
}

div.project-item p {
	background-color: white;
	border-bottom: 1px solid lightgrey;
	color: black;
	margin: 0;
	padding: 8px;
}

.img-box {
	background-color: white;
	max-height: 250px;
	min-height: 250px;
	height: 100%;
	overflow: hidden;
}

.project-image {
	display: block;
	margin: auto;
	min-width: 300px;
}

.proj-img-box {
	height: 250px;
	width: 200px;
	float: right;
	margin-bottom: 20px;
	overflow: hidden;
}

.skill {
	border-radius: 3px;
	font-size: 14px;
	padding: 5px 13px;
	margin: 1px 2px;
	color: black;
	background-color: #7FFFD4;
}

div.project-item:hover {
	cursor: pointer;
	filter: none;
}

#single-project {
	background-color: white;
	font-size: 14px;
	position: fixed;
	top: 95px;
	max-height: 80%;
	left: 0;
	width: 100%;
	overflow-y: scroll;
	padding: 20px 35px;
	-webkit-box-shadow: 4px 4px 25px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    4px 4px 25px 0px rgba(50, 50, 50, 1);
	box-shadow:         4px 4px 25px 0px rgba(50, 50, 50, 1);
}

.grey-out {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

h3, #project-container {
	text-align: center;
}

#portfolio-box {
	width: 94%;
	margin: auto;
	padding-top: 20px;
	margin-top: 20px;
}

#project-container>p {
	text-align: center;
	margin: 15px;
}

#proj-skill-box {
	margin: 10px 0;
	width: 70%;
}

.project-name {
	color: white;
	text-align: center;
	font-size: 18px;
}

#proj-desc, .links, #proj-name {
	display: inline-block;
	margin: 4px 5px;
	width: 67%;
}

#proj-name {
	font-size: 20px;
}

#proj-livelink:hover, #proj-codeurl:hover {
	font-weight: bold;
}

.skill-box {
	color: #404040;
	background: transparent;
	font-style: italic;
	position: relative;
	height: 280px;
	top: -298px;
	width: 100%;
	margin: 10px 0;
	opacity: 0;
	padding: 20px 15px;
	white-space: normal;
}

.skill-box:hover {
	background: rgba(255,255,255,0.70);
	opacity: 1;
}

.eye {
	color: #6B6B6B;
	font-size: 18px;
	position: absolute;
	right: 5px;
	top: 220px;
	width: 10%;
}

#skills-selector {
	font-size: 14px;
	margin-bottom: 7px;
}

a {
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}


@media only screen and (min-width: 480px) and (max-width: 737px) {

	#nav {
		right: 1%;
	}

	.contact-links {
		margin: 25px auto;
	}

	.home, .about, .contact {
		background: rgba(0,0,0,0.60);
		text-align: center;
		margin: auto;
		padding: 20px;
		width: 80%;
	}

	hr {
		margin: auto;
		width: 80%;
	}

	#single-project {
		left: 9%;
		padding: 10px 20px 10px 15px;
		width: 80%;
	}

	#project-container {
		padding-left: 4%;
	}

	.proj-img-box {
		width: 99%;
		margin: 5px auto;
		text-align: center;
	}

	#proj-img {
		width: 100%;
	}

	#proj-name, #proj-desc {
		width: 95%;
	}

	div.project-item {
		max-width: 500px;
		width: 85%;
		display: inline-block;
		margin: 7px;
	}

}

@media only screen and (max-width: 480px) {

	#nav {
		right: 1%;
	}

	.contact-links {
		margin: 25px auto;
	}

	.home, .about, .contact {
		background: rgba(0,0,0,0.60);
		text-align: center;
		margin: auto;
		padding: 20px;
		width: 80%;
	}

	hr {
		margin: auto;
	}

	#single-project {
		left: 4%;
		padding: 10px 20px 10px 15px;
		width: 90%;
	}

	.proj-img-box {
		width: 99%;
		margin: 5px auto;
		text-align: center;
	}

	#proj-img {
		width: 100%;
	}

	#proj-name, #proj-desc {
		width: 95%;
	}

	div.project-item {
		display: inline-block;
		max-width: 550px;
		margin: 7px;
		width: 95%;
	}

}