* {
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif;
	background-image: url('food3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

section {
	background-color: ;
}

.hidden {
	display: none;
}

#section-content {
	position: absolute;
	width: 100%;
	top: 85px;
	left: 10px;
}

.home, .about {
	margin-left: 21%;
	margin-top: 13%;
}

hr {
	margin-left: 10px;
	width: 70%;
}

.home h4, .home p, .about h4, .about p, 
.filter-title, #portfolio-box>h3, #project-container>p {
	color: #7FFFD4;
	margin: 5px;
}

.home h4, .about h4, #portfolio-box>h3 {
	font-weight: bolder;
	font-family: 'Merriweather', sans-serif;
}

.home h4 {
	font-size: 48px;
}

.about h4, #portfolio-box>h3 {
	font-size: 35px;
}

.home p, .about p {
	font-size: 19px;
	max-width: 600px;
}

#nav {
	position: fixed;
	right: 10%;
	top: 17px;
}

div.nav-link, .project-item, .skill {
	display: inline-block;
}

div.nav-link, button#project-close {
	height: 30px;
	padding: 5px 15px;
	margin: 1px 1px;
	background-color: #7FFFD4;
	text-decoration: none;
	color: black;
	border-radius: 4px;
}

div.nav-link {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.74);
}

button#project-close {
	display: block;
	margin: auto;
	margin-top: 23px;
	border: 0px;
	font-size: 1em;
}

div.nav-link:hover, button#project-close:hover {
	color: white;
	background-color: #458B74;
	cursor: pointer;
}

div.project-item {
	background-color: white;
	width: 45%;
	min-height: 172px;
	padding: 9px;
	margin: 3px 6px;
	text-align: left;
	vertical-align: top;
	
}

div.project-item p, #single-project p {
	margin: 5px;
	color: black;
}

.project-image {
	width: 65px;
}

#proj-img {
	width: 100px;
}

.skill {
	border-radius: 3px;
	padding: 3px 10px;
	margin: 1px 2px;
	color: black;
	background-color: #7FFFD4;
}

div.project-item:hover {
	background-color: #CDCDC1;
	color: white;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	-moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.74);
	box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.74);
}

#single-project {
	background-color: white;
	position: absolute;
	top: 80px;
	left: 16%;
	width: 65%;
	overflow-y: scroll;
	padding: 15px 20px;
	-webkit-box-shadow: 4px 4px 25px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    4px 4px 25px 0px rgba(50, 50, 50, 1);
	box-shadow:         4px 4px 25px 0px rgba(50, 50, 50, 1);
}

.grey-out {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

h3 {
	text-align: center;
}

#portfolio-box {
	width: 94%;
	margin: auto;
	padding-top: 20px;
	margin-top: 20px;
}

#project-container {
	text-align: center;
}

#project-container>p {
	text-align: center;
	margin: 15px;
}

#proj-skill-box {
	margin: 10px 0;
}

.project-name {
	text-align: center;
	font-size: 18px;
}

#proj-desc>div {
	display: inline-block;
	margin: 4px 9px;
	width: 79%;
}

#proj-livelink:hover, #proj-codeurl:hover {
	font-weight: bold;
}

.skill-box {
	width: 70%;
	margin: 25px 0;

}

img {
	float: right;
	clear: left;
}

a {
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}


@media only screen and (min-width: 584px) and (max-width: 825px) {

	#single-project {
		left: 13%;
		width: 70%;
	}

	#project-container {
		padding-left: 4%;
	}

	div.project-item {
		width: 45%;
		display: inline-block;
		margin: 7px;
	}

}

@media only screen and (max-width: 584px) {

	#single-project {
		left: 1%;
		width: 90%;
	}

	div.project-item {
		width: 95%;
	}

}