doctype html
html(lang='en')
    head
        title My Portfolio
        meta(charset='utf-8')
        include styles
    body
        include nav-bar
        section(id='section-content')
            block content
                div(class='home')
                    h4 #{title}
                    hr
                    p !{content}
        include scripts

