doctype html
html(lang='en')
    head
        title Home Page
        meta(charset='utf-8')
        link(rel='stylesheet', type='text/css', href='/public/default-style.css') 
    body
        section(id='default-box')
            section(id='nav')
                - var homeUrl = 'http://localhost:8080/default/home/' + friendlyUrl;
                a(class='nav-link', href= 'http://localhost:8080/default/home/home' )
                    span Home
                a(class='nav-link', href='http://localhost:8080/default/about/about')
                    span About
                a(class='nav-link', href='http://localhost:8080/default/portfolio/portfolio')
                    span Portfolio
                a(class='nav-link')
                    span Contact
            section(id='section-content')
                block content
                    h4 #{title}
                    p #{content}
        script(src='https://code.jquery.com/jquery.min.js')
        script(type='text/javascript', src='/public/main.js')

