.nav-bar

//- NOTE:
    To switch out the current default pages to newly created pages on your site, you will need to have 
    template files that match the Friendly Url of the new page. 

    The following Friendly Urls are in use by the CMS: 'index', 'login', 'signup', 'cms'.
    Make sure that your pages do not also utilize these Urls.

//- Change these values to your page's Friendly Urls

- var home = 'home'
- var about = 'about'
- var portfolio = 'portfolio'
- var contact = 'contact'

//- Change these values to the text for each button on the nav bar. 

- var homeText = 'Home'
- var aboutText = 'About'
- var portfolioText = 'Portfolio'
- var contactText = 'Contact'

//- =====================

- var homeLink = '/' + home
- var aboutLink = '/' + about
- var portfolioLink = '/' + portfolio
- var contactLink = '/' + contact

section(id='nav')
    a(class='nav-link', href= homeLink )
        div(class='nav-link')= homeText
    a(class='nav-link', href= aboutLink)
        div(class='nav-link')= aboutText
    a(class='nav-link', href= portfolioLink)
        div(class='nav-link')= portfolioText
    a(class='nav-link', href= contactLink)
        div(class='nav-link')= contactText