extends home.pug
block content
    div
        h3 #{portfolioTitle}
        p #{portfolioContent}
    each project in projects
        div(class='project-item')
            p Name: 
                span= project.name
            div(class='skill-box')
                each skill in project.skills
                    span(class='skill')= skill 

