.project
div(class='grey-out hidden')
div(id='single-project', class='hidden')
    div(class='proj-img-box')
        img(id='proj-img', src='')
    p(id='proj-name') 
        span
    p(class='links')
        a(id='proj-livelink', target='_blank') 
            span Live Site 
        span | 
        a(id='proj-codeurl', target='_blank') 
            span Code Site
    div(id='proj-desc') 
    div(id='proj-skill-box')
    p(id='project-close') X
