.project
div(class='grey-out hidden')
div(id='single-project', class='hidden')
    img(id='proj-img', src='')
    p(id='proj-name') Project Name: 
        span
    p
        a(id='proj-livelink') 
            span Live Site 
        span | 
        a(id='proj-codeurl') 
            span Code Site
    div(id='proj-desc') Description: 
        div
    p Skills:
    div(id='proj-skill-box')
    button(type='button', id='project-close') Close