.styles
link(rel='stylesheet', type='text/css', href='/public/default/default-style.css')
link(href='https://fonts.googleapis.com/css?family=Merriweather|Ubuntu:400,700' rel='stylesheet')
script(src='https://use.fontawesome.com/06476ec048.js')

//- Add style and font libraries below